<html>
    <head>
        <title>Anna Blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
       <div>
           <h1><a href="">Anna Blog</a></h1>
       </div>

       <div>
            <p>published: 02.04.2017, 12:14</p>
          <h2><a href="">Il mio primo POST!</h2>
            <p>FELICE FELICE FELICE</p>
        </div>

        <div>
            <p>published: 02.04.2017, 14:14</p>
            <h2><a href="">Il mio secondo POST!</a></h2>
            <p>Pacca sulla spalla</p>
        </div>
    </body>
</html>
